 <footer>
	<nav class="menu">
	<div class="footer-c">
		&copy; 2019-2021 <a class="footer-a" href="https://github.com/deomorxsy" style="font-style:oblique; color:white;"> <b>~/.ðÐ</b> </a>
	</div>
	</nav>
    {{/*<!-- <a href="{{site.baseurl}}/" class="menu-item -home -active">Index</a>
	<a href="{{site.baseurl}}/blog/" class="menu-item">Blog</a>
	<a href="{{site.baseurl}}/about/" class="menu-item">About</a>
	<a href="{{site.baseurl}}/quotes/" class="menu-item">Quotes</a>
    </nav>-->*/}}
</footer>
